@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  background-color: rgba(128, 128, 128, 0.25);
  font-family: 'Saira', sans-serif;
}
