$white: #ffffff;
$dark: #000000;
$grey-700: #333333;
$grey-600: #696969;
$grey-500: #717171;
$grey-400: #CBCACA;
$grey-300: #e5e5e5;
$grey-100: #e8e8e8;
$orange-900: #EB5757;
$orange-400: #f2994a;
$green-300: #6FCF97;